<template>
  <form @submit.prevent="$emit('submitted', username)">
    <el-input placeholder="search for user" class="search-form__input" v-model="username">
      <el-button class="search-form__button" native-type="submit" slot="append" icon="el-icon-search">Search</el-button>
    </el-input>
  </form>
</template>

<script>
  export default {
    name: 'UserSearchForm',
    data() {
      return {
        username: '',
      }
    }
  }
</script>

<style scoped>

</style>